unstatisticdafbadev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "unstatisticdafbadev"
		},
		"msbiazurelinkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'msbiazurelinkedservice'"
		},
		"unstatisticsqlsbadevlinkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'unstatisticsqlsbadevlinkedservice'"
		},
		"unstatisticstac_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'unstatisticstac'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/msbiazurelinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('msbiazurelinkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/unstatisticsqlsbadevlinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('unstatisticsqlsbadevlinkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/unstatisticstac')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('unstatisticstac_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_41i')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsbadevlinkedservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "task",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_41i')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msbiazurelinkedservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "task",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msbiazurelinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_src_csv_metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticstac",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "CrimeStat.Source.UNCrime",
						"container": "unstatistic-sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticstac')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_countries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsbadevlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SourceItemId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "alpha-2",
						"type": "nvarchar"
					},
					{
						"name": "alpha-3",
						"type": "nvarchar"
					},
					{
						"name": "country-code",
						"type": "nvarchar"
					},
					{
						"name": "iso_3166-2",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "sub-region",
						"type": "nvarchar"
					},
					{
						"name": "intermediate-region",
						"type": "nvarchar"
					},
					{
						"name": "region-code",
						"type": "nvarchar"
					},
					{
						"name": "sub-region-code",
						"type": "nvarchar"
					},
					{
						"name": "intermediate-region-code",
						"type": "nvarchar"
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "countriesref_untyped"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_dummy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsbadevlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_population_untyped')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsbadevlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "SourceItemId",
						"type": "nvarchar"
					},
					{
						"name": "CountryName",
						"type": "nvarchar"
					},
					{
						"name": "CountryCode",
						"type": "nvarchar"
					},
					{
						"name": "IndicatorName",
						"type": "nvarchar"
					},
					{
						"name": "IndicatorCode",
						"type": "nvarchar"
					},
					{
						"name": "1960",
						"type": "nvarchar"
					},
					{
						"name": "1961",
						"type": "nvarchar"
					},
					{
						"name": "1962",
						"type": "nvarchar"
					},
					{
						"name": "1963",
						"type": "nvarchar"
					},
					{
						"name": "1964",
						"type": "nvarchar"
					},
					{
						"name": "1965",
						"type": "nvarchar"
					},
					{
						"name": "1966",
						"type": "nvarchar"
					},
					{
						"name": "1967",
						"type": "nvarchar"
					},
					{
						"name": "1968",
						"type": "nvarchar"
					},
					{
						"name": "1969",
						"type": "nvarchar"
					},
					{
						"name": "1970",
						"type": "nvarchar"
					},
					{
						"name": "1971",
						"type": "nvarchar"
					},
					{
						"name": "1972",
						"type": "nvarchar"
					},
					{
						"name": "1973",
						"type": "nvarchar"
					},
					{
						"name": "1974",
						"type": "nvarchar"
					},
					{
						"name": "1975",
						"type": "nvarchar"
					},
					{
						"name": "1976",
						"type": "nvarchar"
					},
					{
						"name": "1977",
						"type": "nvarchar"
					},
					{
						"name": "1978",
						"type": "nvarchar"
					},
					{
						"name": "1979",
						"type": "nvarchar"
					},
					{
						"name": "1980",
						"type": "nvarchar"
					},
					{
						"name": "1981",
						"type": "nvarchar"
					},
					{
						"name": "1982",
						"type": "nvarchar"
					},
					{
						"name": "1983",
						"type": "nvarchar"
					},
					{
						"name": "1984",
						"type": "nvarchar"
					},
					{
						"name": "1985",
						"type": "nvarchar"
					},
					{
						"name": "1986",
						"type": "nvarchar"
					},
					{
						"name": "1987",
						"type": "nvarchar"
					},
					{
						"name": "1988",
						"type": "nvarchar"
					},
					{
						"name": "1989",
						"type": "nvarchar"
					},
					{
						"name": "1990",
						"type": "nvarchar"
					},
					{
						"name": "1991",
						"type": "nvarchar"
					},
					{
						"name": "1992",
						"type": "nvarchar"
					},
					{
						"name": "1993",
						"type": "nvarchar"
					},
					{
						"name": "1994",
						"type": "nvarchar"
					},
					{
						"name": "1995",
						"type": "nvarchar"
					},
					{
						"name": "1996",
						"type": "nvarchar"
					},
					{
						"name": "1997",
						"type": "nvarchar"
					},
					{
						"name": "1998",
						"type": "nvarchar"
					},
					{
						"name": "1999",
						"type": "nvarchar"
					},
					{
						"name": "2000",
						"type": "nvarchar"
					},
					{
						"name": "2001",
						"type": "nvarchar"
					},
					{
						"name": "2002",
						"type": "nvarchar"
					},
					{
						"name": "2003",
						"type": "nvarchar"
					},
					{
						"name": "2004",
						"type": "nvarchar"
					},
					{
						"name": "2005",
						"type": "nvarchar"
					},
					{
						"name": "2006",
						"type": "nvarchar"
					},
					{
						"name": "2007",
						"type": "nvarchar"
					},
					{
						"name": "2008",
						"type": "nvarchar"
					},
					{
						"name": "2009",
						"type": "nvarchar"
					},
					{
						"name": "2010",
						"type": "nvarchar"
					},
					{
						"name": "2011",
						"type": "nvarchar"
					},
					{
						"name": "2012",
						"type": "nvarchar"
					},
					{
						"name": "2013",
						"type": "nvarchar"
					},
					{
						"name": "2014",
						"type": "nvarchar"
					},
					{
						"name": "2015",
						"type": "nvarchar"
					},
					{
						"name": "2016",
						"type": "nvarchar"
					},
					{
						"name": "2017",
						"type": "nvarchar"
					},
					{
						"name": "2018",
						"type": "nvarchar"
					},
					{
						"name": "2019",
						"type": "nvarchar"
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "population_untyped"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_uncrime_untyped')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsbadevlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "SourceItemId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RegionName",
						"type": "nvarchar"
					},
					{
						"name": "SubRegionName",
						"type": "nvarchar"
					},
					{
						"name": "CountryName",
						"type": "nvarchar"
					},
					{
						"name": "Year",
						"type": "nvarchar"
					},
					{
						"name": "Count",
						"type": "nvarchar"
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "uncrime_untyped"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_csv_countries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticstac",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ISOcountries.csv",
						"folderPath": "CrimeStat.Source.Countries",
						"container": "unstatistic-sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "alpha-2",
						"type": "String"
					},
					{
						"name": "alpha-3",
						"type": "String"
					},
					{
						"name": "country-code",
						"type": "String"
					},
					{
						"name": "iso_3166-2",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "sub-region",
						"type": "String"
					},
					{
						"name": "intermediate-region",
						"type": "String"
					},
					{
						"name": "region-code",
						"type": "String"
					},
					{
						"name": "sub-region-code",
						"type": "String"
					},
					{
						"name": "intermediate-region-code",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticstac')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_csv_population')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticstac",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WorldBankPopulation.csv",
						"folderPath": "CrimeStat.Source.WorldBank",
						"container": "unstatistic-sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country Name",
						"type": "String"
					},
					{
						"name": "Country Code",
						"type": "String"
					},
					{
						"name": "Indicator Name",
						"type": "String"
					},
					{
						"name": "Indicator Code",
						"type": "String"
					},
					{
						"name": "1960",
						"type": "String"
					},
					{
						"name": "1961",
						"type": "String"
					},
					{
						"name": "1962",
						"type": "String"
					},
					{
						"name": "1963",
						"type": "String"
					},
					{
						"name": "1964",
						"type": "String"
					},
					{
						"name": "1965",
						"type": "String"
					},
					{
						"name": "1966",
						"type": "String"
					},
					{
						"name": "1967",
						"type": "String"
					},
					{
						"name": "1968",
						"type": "String"
					},
					{
						"name": "1969",
						"type": "String"
					},
					{
						"name": "1970",
						"type": "String"
					},
					{
						"name": "1971",
						"type": "String"
					},
					{
						"name": "1972",
						"type": "String"
					},
					{
						"name": "1973",
						"type": "String"
					},
					{
						"name": "1974",
						"type": "String"
					},
					{
						"name": "1975",
						"type": "String"
					},
					{
						"name": "1976",
						"type": "String"
					},
					{
						"name": "1977",
						"type": "String"
					},
					{
						"name": "1978",
						"type": "String"
					},
					{
						"name": "1979",
						"type": "String"
					},
					{
						"name": "1980",
						"type": "String"
					},
					{
						"name": "1981",
						"type": "String"
					},
					{
						"name": "1982",
						"type": "String"
					},
					{
						"name": "1983",
						"type": "String"
					},
					{
						"name": "1984",
						"type": "String"
					},
					{
						"name": "1985",
						"type": "String"
					},
					{
						"name": "1986",
						"type": "String"
					},
					{
						"name": "1987",
						"type": "String"
					},
					{
						"name": "1988",
						"type": "String"
					},
					{
						"name": "1989",
						"type": "String"
					},
					{
						"name": "1990",
						"type": "String"
					},
					{
						"name": "1991",
						"type": "String"
					},
					{
						"name": "1992",
						"type": "String"
					},
					{
						"name": "1993",
						"type": "String"
					},
					{
						"name": "1994",
						"type": "String"
					},
					{
						"name": "1995",
						"type": "String"
					},
					{
						"name": "1996",
						"type": "String"
					},
					{
						"name": "1997",
						"type": "String"
					},
					{
						"name": "1998",
						"type": "String"
					},
					{
						"name": "1999",
						"type": "String"
					},
					{
						"name": "2000",
						"type": "String"
					},
					{
						"name": "2001",
						"type": "String"
					},
					{
						"name": "2002",
						"type": "String"
					},
					{
						"name": "2003",
						"type": "String"
					},
					{
						"name": "2004",
						"type": "String"
					},
					{
						"name": "2005",
						"type": "String"
					},
					{
						"name": "2006",
						"type": "String"
					},
					{
						"name": "2007",
						"type": "String"
					},
					{
						"name": "2008",
						"type": "String"
					},
					{
						"name": "2009",
						"type": "String"
					},
					{
						"name": "2010",
						"type": "String"
					},
					{
						"name": "2011",
						"type": "String"
					},
					{
						"name": "2012",
						"type": "String"
					},
					{
						"name": "2013",
						"type": "String"
					},
					{
						"name": "2014",
						"type": "String"
					},
					{
						"name": "2015",
						"type": "String"
					},
					{
						"name": "2016",
						"type": "String"
					},
					{
						"name": "2017",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticstac')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_csv_uncrime')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticstac",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "unstatistic-sourcefiles"
					},
					"Path": {
						"type": "string",
						"defaultValue": "CrimeStat.Source.UNCrime"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "burglary.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Path",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticstac')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_csv_uncrime_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticstac",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "unstatistic-sourcefiles"
					},
					"Path": {
						"type": "string",
						"defaultValue": "CrimeStat.Source.UNCrime"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().Path",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticstac')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/first_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_41i",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_41i",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "task.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "task.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_41i",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_41i",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Course"
								},
								"destination": {
									"table": "Course"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "CourseId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "CourseId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "CourseName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "CourseName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "sysCreatedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysCreatedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysChangedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysChangedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysCreatedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysCreatedBy",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "sysChangedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysChangedBy",
													"type": "Int32"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "SubTask"
								},
								"destination": {
									"table": "SubTask"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "SubTaskId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SubTaskId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TaskId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "TaskId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "SubTaskName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "SubTaskName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Description",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Description",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Topic",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Topic",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "sysCreatedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysCreatedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysChangedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysChangedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysCreatedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysCreatedBy",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "sysChangedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysChangedBy",
													"type": "Int32"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "SubTaskLog"
								},
								"destination": {
									"table": "SubTaskLog"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "SubTaskLogId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SubTaskLogId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "SubTaskId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SubTaskId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "StudentId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "StudentId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ReviewerId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ReviewerId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Comment",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Comment",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Score",
													"type": "Decimal",
													"physicalType": "decimal",
													"scale": 2,
													"precision": 8
												},
												"sink": {
													"name": "Score",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "OnTime",
													"type": "Decimal",
													"physicalType": "decimal",
													"scale": 2,
													"precision": 8
												},
												"sink": {
													"name": "OnTime",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "Accuracy",
													"type": "Decimal",
													"physicalType": "decimal",
													"scale": 2,
													"precision": 8
												},
												"sink": {
													"name": "Accuracy",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "Extra",
													"type": "Decimal",
													"physicalType": "decimal",
													"scale": 2,
													"precision": 8
												},
												"sink": {
													"name": "Extra",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "TotalScore",
													"type": "Decimal",
													"physicalType": "decimal",
													"scale": 2,
													"precision": 11
												},
												"sink": {
													"name": "TotalScore",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "sysCreatedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysCreatedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysChangedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysChangedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysCreatedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysCreatedBy",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "sysChangedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysChangedBy",
													"type": "Int32"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Task"
								},
								"destination": {
									"table": "Task"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "TaskId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "TaskId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Name",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Description",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Description",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Topic",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Topic",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "sysCreatedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysCreatedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysChangedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysChangedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysCreatedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysCreatedBy",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "sysChangedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysChangedBy",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "CourseId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "CourseId",
													"type": "Int32"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "TaskBackup"
								},
								"destination": {
									"table": "TaskBackup"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "TaskId",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "TaskId",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "TaskName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "TaskName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "TaskNumber",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "TaskNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Description",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Description",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Topic",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Topic",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "sysCreatedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysCreatedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysChangedAt",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "sysChangedAt",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "sysCreatedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysCreatedBy",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "sysChangedBy",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "sysChangedBy",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "SubTaskNumber",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "SubTaskNumber",
													"type": "String"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_41i')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_41i')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/unstatistic-extract-countries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "extract data from csv file to SQL database",
				"activities": [
					{
						"name": "Copy countries to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SP PipelineExecutionHistory_Create",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[countriesref_untyped];",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "alpha-2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "alpha-2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "alpha-3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "alpha-3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "country-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "iso_3166-2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "iso_3166-2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "sub-region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sub-region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "intermediate-region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "intermediate-region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "region-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "sub-region-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sub-region-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "intermediate-region-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "intermediate-region-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_csv_countries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dst_sql_countries",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP PipelineExecutionHistory_Create",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Create]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP PipelineExecutionHistory_Update",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy countries to SQL",
								"dependencyConditions": [
									"Succeeded",
									"Skipped"
								]
							},
							{
								"activity": "Set variable PipelineExecutionStatus",
								"dependencyConditions": [
									"Succeeded",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Update]",
							"storedProcedureParameters": {
								"Description": {
									"value": {
										"value": "@variables('PipelineExecutionDescription')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@variables('PipelineExecutionStatus')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable PipelineExecutionStatus",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable PipelineExecutionDescription",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineExecutionStatus",
							"value": "failed"
						}
					},
					{
						"name": "Set variable PipelineExecutionDescription",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy countries to SQL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineExecutionDescription",
							"value": {
								"value": "@{activity('Copy countries to SQL').Error.Message}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"PipelineExecutionDescription": {
						"type": "String",
						"defaultValue": "succeed"
					},
					"PipelineExecutionStatus": {
						"type": "String",
						"defaultValue": "succeed"
					}
				},
				"folder": {
					"name": "unstatistic"
				},
				"annotations": [
					"extract"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_csv_countries')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_countries')]",
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/unstatistic-extract-population')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "extract data from csv file to SQL database",
				"activities": [
					{
						"name": "Copy population",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SP PipelineExecutionHistory_Create",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[population_untyped];",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Indicator Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IndicatorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Indicator Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IndicatorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1960",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1960",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1961",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1961",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1962",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1962",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1963",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1963",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1964",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1964",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1965",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1965",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1966",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1966",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1967",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1967",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1968",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1968",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1969",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1969",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1970",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1970",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1971",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1971",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1972",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1972",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1973",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1973",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1974",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1974",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1975",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1975",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1976",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1976",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1977",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1977",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1978",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1978",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1979",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1979",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1980",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1980",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1981",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1981",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1982",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1982",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1983",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1983",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1984",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1984",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1985",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1985",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1986",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1986",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1987",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1987",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1988",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1988",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1989",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1989",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1990",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1990",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1991",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1991",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1992",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1992",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1993",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1993",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1994",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1994",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1995",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1995",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1996",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1996",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1997",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1997",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1998",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1998",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "1999",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1999",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2000",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2000",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2001",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2002",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2002",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2003",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2003",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2004",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2004",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2005",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2005",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2006",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2006",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2007",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2007",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2008",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2008",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2009",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2009",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2010",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2010",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2011",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2011",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2012",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2012",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2013",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2013",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2014",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2014",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2015",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2015",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2016",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2016",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2017",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2017",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_csv_population",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dst_sql_population_untyped",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP PipelineExecutionHistory_Create",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Create]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP PipelineExecutionHistory_Update",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy population",
								"dependencyConditions": [
									"Succeeded",
									"Skipped"
								]
							},
							{
								"activity": "Set variable PipelineExecutionStatus",
								"dependencyConditions": [
									"Succeeded",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Update]",
							"storedProcedureParameters": {
								"Description": {
									"value": {
										"value": "@variables('PipelineExecutionDescription')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@variables('PipelineExecutionStatus')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable PipelineExecutionStatus",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy population",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineExecutionStatus",
							"value": "failed"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"PipelineExecutionDescription": {
						"type": "String",
						"defaultValue": "succeed"
					},
					"PipelineExecutionStatus": {
						"type": "String",
						"defaultValue": "succeed"
					}
				},
				"folder": {
					"name": "unstatistic"
				},
				"annotations": [
					"extract"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_csv_population')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_population_untyped')]",
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/unstatistic-extract-uncrimefile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "extract data from csv file to SQL database",
				"activities": [
					{
						"name": "Copy uncrime",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SP PipelineExecutionHistory_Create",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sub Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubRegionName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Count",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_csv_uncrime",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.Container",
										"type": "Expression"
									},
									"Path": {
										"value": "@pipeline().parameters.Path",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dst_sql_uncrime_untyped",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP PipelineExecutionHistory_Create",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Create]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP PipelineExecutionHistory_Update",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Update FileName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Update]",
							"storedProcedureParameters": {
								"Description": {
									"value": {
										"value": "@variables('PipelineExecutionDescription')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@variables('PipelineExecutionStatus')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update FileName",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy uncrime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@replace('UPDATE [staging].[uncrime_untyped]\n  SET [FileName] = ''variablefilename''\n  WHERE [FileName] IS NULL\nSELECT 1;'\n, 'variablefilename'\n,pipeline().parameters.FileName\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dst_sql_dummy",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "unstatistic-sourcefiles"
					},
					"Path": {
						"type": "string",
						"defaultValue": "CrimeStat.Source.UNCrime"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "burglary.csv"
					}
				},
				"variables": {
					"PipelineExecutionDescription": {
						"type": "String",
						"defaultValue": "succeed"
					},
					"PipelineExecutionStatus": {
						"type": "String",
						"defaultValue": "succeed"
					}
				},
				"folder": {
					"name": "unstatistic"
				},
				"annotations": [
					"extract"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_csv_uncrime')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_uncrime_untyped')]",
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_dummy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/unstatistic-master-extract-uncrimefile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP Log Pipeline start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Create]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP Log Pipeline End",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Update]",
							"storedProcedureParameters": {
								"Description": {
									"value": "desc1",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "completed",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsbadevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get configuration",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SP Log Pipeline start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[adf].[usp_Configuration_Get]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dst_sql_dummy",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set container",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "container",
							"value": {
								"value": "@activity('Get configuration').output.firstrow.container",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set path",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "filepath",
							"value": {
								"value": "@activity('Get configuration').output.firstrow.UNCrimepath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Truncate  uncrime_untyped",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set container",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set path",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE [staging].[uncrime_untyped];\nSELECT 1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dst_sql_dummy",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Truncate  uncrime_untyped",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_src_csv_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childitems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Set filename",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "filename",
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "unstatistic-extract-uncrimefile",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set filename",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "unstatistic-extract-uncrimefile",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Container": {
												"value": "@variables('container')",
												"type": "Expression"
											},
											"Path": {
												"value": "@variables('filepath')",
												"type": "Expression"
											},
											"FileName": {
												"value": "@variables('filename')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"container": {
						"type": "String"
					},
					"filepath": {
						"type": "String"
					},
					"filename": {
						"type": "String"
					}
				},
				"folder": {
					"name": "unstatistic"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/unstatisticsqlsbadevlinkedservice')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_dummy')]",
				"[concat(variables('factoryId'), '/datasets/ds_src_csv_metadata')]",
				"[concat(variables('factoryId'), '/pipelines/unstatistic-extract-uncrimefile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/first_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "first_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-12-21T10:44:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								15
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/first_pipeline')]"
			]
		}
	]
}